@import "./fonts.scss";
@import "./vars.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

body{
    background-color: #F2F2F2;
    color: $default;
    font-size: $rootFontSize;
}