@import '../../assets/scss/vars.scss';

.skills{
    .panel__content{
        &-header{
            margin-bottom: pxToRem(16);
            color: $gray2;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }    

    &__list{
        display: flex;
        flex-wrap: wrap;

        &-item{
            display: flex;
            align-items: center;
            margin-bottom: pxToRem(16);
            flex-shrink: 0;
            width: 50%;

            &:nth-child(2n+1){
                padding-right: 2%;
            }
            &:nth-child(2n){
                padding-left: 2%;
            }
            
            &-label{
                flex: 1.3;
                font-size: pxToRem(16);
                font-weight: 500;
            }
            &-range{
                flex: 3;
                background-color: $gray7;
                border-radius: pxToRem(12);
                overflow: hidden;
                
                & > div{
                    background-color: $blue;
                    height: 9px;
                    border-radius: inherit;
                }
            }            
        }
    }

    .panel--column{
        width: 395px;
        
        .skills__list{
            display: flex;
            flex-direction: column;            

            &-item{
               padding-left: 0;
               padding-right: 0;
               width: auto;

               &-label{
                    flex: 1;
                }
                &-range{
                    flex: 2;
                }  
            }
        }
    }
}